<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MSSQL" connectionString="Data Source=DICKSON-PC\localhost,1433;Initial Catalog=CadPes;Integrated Security=False;User ID=ckrique;Password=ddickell;Application Name=15" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>